.App {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.App-title {
    color: white;
    text-shadow: 2px 3px 5px #333;
    font-size: 8rem;
    font-weight: 100;
    margin: 0 auto;
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    .App-title {
        margin-top: 0;
        font-size: 6rem;
        line-height: 1.6;
    }
}
