* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::before,
*::after {
    box-sizing: inherit;
}

html {
    line-height: 1.6;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto';
    font-weight: 100;
    min-height: 100vh;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}
